
.navbar{
    background-color: #000000cc;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 75px;
    font-size: 25px;
}
footer{
    position:fixed;
    width: 100%;
    left: 0%;
    bottom: 0%;
    text-align: center;
    display: block;
    bottom: 0;
 }

 
body{
    margin-top: 80px;
}
#container1{
    margin-top: 5%;
}
 
 .btn1{
    width: 400px;
    height: 150px;
    background: #3498db;
    padding: 10px 20px;
    font-size: 30px;
    font-family:Arial;
    margin-left: 10%;
    text-decoration: none;
    border-radius: 12px;
    margin-top:15%;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
 }
 hr.rounded {
    border-top: 8px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-left: 1%;

  }
 h1{
     text-align: center;
 }
 #resultados1,#resultados2{
    margin-bottom: 10%;
 }